<%- include('./partials/header.ejs') %>
    <body class="page-background">
        <!-- Navbar -->
        <%- include('./partials/navbar.ejs', {title: 'WasmFiddle' }) %>
        <div id="<%= shareid %>" data-code="<%= code %>" data-lang="<%= lang %>" style="display: none"></div>
            <div class="row" style="height: 25px"></div>
            <div class="row justify-content-around">
                <div class="col-10">
                    <div class="row">
                        <div class="col-md-6">
                            <select class="form-select" aria-label="Select Language" id="languages">
                                <option selected value="c"> C </option>
                                <option value="cpp"> C++ </option>
                                <option value="rust"> Rust </option>
                            </select>
                            <select class="form-select" aria-label="Select Std Options" id="std-options">
                            </select>
                        </div>
                        <div class="col-md-6 button-container">
                            <div class="float-left">
                                <button type="button" class="btn run-btn" onclick="executeCode()"><i class="fas fa-play"></i>
                                    Run
                                </button>
                                <button type="button" class="btn btn-dark clear-btn" id='clearOutput'
                                onclick="clearOutput()"><i class="fas fa-ban"></i>
                                    Clear
                                </button>
                            </div>
                            <div class="dropdown float-right">
                                <button class="btn share-btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-share-alt"></i> Share
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#embedCodeModal" id="embed" data-toggle="modal">
                                        <i class="fas fa-share"></i> Embed
                                    </a>
                                    <a class="dropdown-item disabled" href="#" id="email">
                                        <i class="far fa-envelope"></i> Email
                                    </a>
                                    <a class="dropdown-item cursor-hand" data-toggle="modal" data-target="" onclick="addCode()" id="shareModal">
                                        <i class="fa fa-paper-plane"></i>
                                        Share
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
        		</div>
            </div><br>
	
            <div class="row justify-content-around">
                <div class="col-10">
                    <!-- <div class="row no-gutters" style="height: 1000;"> -->
                    <div class="row">
                        <div class="col-md-6" style="resize: none">
                            <textarea class="editor" id="editor" style="resize: none"></textarea>
                        </div>
                        <div class="col-md-6">
                            <div class="output text-white bg-dark">
                                <div id="output-container"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="height: 25px"></div>
            <div class="row justify-content-around">
                <div class="col-10">
                    <div class="textarea text-white bg-dark" style="height:200px" id="instructions-container">
                        
                    </div>
                </div>
            </div>
            <!-- Modal to show code to embed in website -->
            <%- include('./partials/modal.ejs', {modalId: 'embedCodeModal' , embeddableCodeId: 'embeddableCode' }) %>

            <!-- Modal to show link to share code -->
            <%- include('./partials/share.ejs', {modalId: 'shareLinkModal', shareLinkId: 'shareLink'}) %>

            <!-- Toast -->
            <%- include('./partials/toast.ejs', {toastId: 'copiedToast' , toastMsg: 'Copied!' }) %>
    </body>

    </html>